

.leaderboard-container {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: purple; */
  /* background-color: #1A1B41; */


}

.leaderboard-title {
  font-size: 2.5rem;
  color: #e1d600;
  /* background-color: green; */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.leaderboard-content {
  height:80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #fff; */
}






.players-list {
  height: 90%;
  width: 700px;
  /* background-color: #EC841C; */
  background-color: #EC841C;

  border: 2px solid #e1d600;
  border-radius: 15px;
  padding: 20px;
  overflow-y: scroll;
}

.your-rank {
  background-color: #DE5027;
  border: 2px solid #e1d600;
  border-radius: 10px;
  padding: 12px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.your-rank span {
  color: #e1d600;
  font-size: 24px;
}

.players-section {
  margin-bottom: 20px;
}

.section-title {
  color: #FFF546;
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.search-bar input {
  width: 100%;
  padding: 10px 15px;
  border-radius: 8px;
  border: 2px solid #e1d600;
  background-color: #000;
  color: #e1d600;
  font-size: 1rem;
  outline: none;
}

.search-bar input::placeholder {
  color: #a0567a;

}

.table-container {
  background-color: #DE5027;
  border: 2px solid #FFAC57;
  border-radius: 8px;
  padding: 15px;
  height: 300px;
}

.table-header {
  display: grid;
  grid-template-columns: 1fr 2fr 1.5fr 1fr;
  gap: 20px;
  color: #e1d600;
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
  padding: 0 15px;
}

@media (max-width: 768px) {
  .leaderboard-content {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .leaderboard-wrapper {
    padding: 10px;
  }

  .stats {
    flex-direction: column;
    gap: 10px;
  }

  .table-header, .table-row {
    font-size: 0.8rem;
    gap: 5px;
  }

  .username {
    font-size: 1.2rem;
  }

  .your-rank {
    font-size: 1rem;
  }
} 