@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


.font-pixel {
  font-family: "Press Start 2P", cursive;
}

body {
  font-family: "Press Start 2P", monospace;
}

.pixel-borders {
  position: relative;
  z-index: 1;
}

.pixel-borders::before {
  content: "";
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  border: 2px solid #4a1237;
  z-index: -1;
}

